.father {
  display: grid;
  gap: 10px;
  grid-template-columns: 100px 200px;
  grid-template-rows: 200px 100px;
}

.child {
  background-color: tomato;
  border-style: solid;
  border-color: black;
  border-width: 1px;

  display: flex;
  color: white;
  font-size: 28px;
  align-items: center;
  justify-content: center;
}
