.father {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  flex-direction: column;
}

.box {
  height: 200px;
  width: 200px;
  background-color: tomato;
  border-radius: 25px;
  border: 1px solid black;
  color: white;
  font-size: 36px;
}

/* flexbox - 
자식요소에게는 직접 명령하지 않음

부모요소에 입력 하면 자식요소에게 적용 됨 + 자식 요소가 직속 부모 요소인지 체크
display:flex -> flex container로 바꿔줌


gap -> 기본적으로 flex container가 간격을 주도록 함
자식 요소 간 간격

flex-direction: row; 기본 값은 row 
-> flexbox에게 요소들이 어떤 방향으로 갈지 지시하는 역할 (row & column) or row&column + reverse




*/
