body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  padding: 20px 20px;
}

@mixin alert($bgColor, $borderColor) {
  background-color: $bgColor;

  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px dashed black;
  border-color: $borderColor;
}

.success {
  @include alert(green, orange);
}

.warning {
  @include alert(orange, red);
}

.error {
  @include alert(red, black);
}
