body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: 50px;

    li {
      background-color: tomato;
      color: white;
      padding: 5px 10px;
      border-radius: 8px;

      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;

        &:hover {
          opacity: 0.5;
          color: gray;
        }
      }
    }
  }
}
