$bgColor: lightblue;

//CSS 변수 사용
// :root{
//   --bgColor:red;
// }
// background-color: var(--bgColor);

.father {
  background-color: $bgColor;
  display: grid;
  gap: 10px;
  height: 100vh;

  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.child {
  background-color: teal;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
